<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= blog.title %></title>
    <link rel="stylesheet" href="/lib/noty/noty.min.css">
    <link rel="stylesheet" href="/lib/simditor/simditor-html.css">
    <link rel="stylesheet" href="/lib/simditor/simditor.css">
    <link rel="stylesheet" href="/dist/css/app.css">
  </head>
<body>
  <div class="app admin">
    <div class="app-main clearfix">
      <%- include('components/admin-sider') %>
      <%- include('components/banner-edit') %>
    </div>
    <%- include('components/script')%>
    <script src="/lib/simditor/module.min.js"></script>
    <script src="/lib/simditor/hotkeys.min.js"></script>
    <script src="/lib/simditor/uploader.min.js"></script>
    <script src="/lib/simditor/simditor.min.js"></script>
    <script src="/lib/simditor/beautify-html.js"></script>
    <script src="/lib/simditor/simditor-html.js"></script>
    <script src="/dist/js/admin-banner.js"></script>
  </div>
</body>
</html>