<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= blog.title %></title>
    <link rel="stylesheet" href="<%= stats.css %>">
    <link rel="stylesheet" type="text/css" href="/lib/semantic.min.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="/lib/semantic.min.js"></script>
</head>
<body>
<%- include('components/nav') %>
<%- include('components/notification') %>
