* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html, body {
  height: 100%;
}
@color1: #0facf3;
@color2: #22264b;
@color3: #999999;
body {
  font-size: 14px;
  line-height: 1.5;
  font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  color: @color2;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
input, button, textarea {
  -webkit-appearance: none;
}
input, button, textarea,select {
  font: inherit; 
  -webkit-appearance: none;
}
::-webkit-input-placeholder { /* WebKit browsers */ 
color: #aaa; 
} 
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
color: #aaa; 
} 
::-moz-placeholder { /* Mozilla Firefox 19+ */ 
color: #aaa; 
} 
:-ms-input-placeholder { /* Internet Explorer 10+ */ 
color: #aaa; 
}
input:-webkit-autofill { box-shadow: 0 0 0px 1000px white inset;}
@font-face {
  font-family: 'hwh-font';
  src: url('../font/fontello.eot');
  src: url('../font/fontello.eot') format('embedded-opentype'),
       url('../font/fontello.woff2') format('woff2'),
       url('../font/fontello.woff') format('woff'),
       url('../font/fontello.ttf') format('truetype'),
       url('../font/fontello.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon::before {
  font-family: "hwh-font";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-user:before { content: '\e800'; }
.icon-lock:before { content: '\f512'; }
.icon-infinity:before { content: '\e801'; }
.icon-down:before { content: '\e802'; }
.icon-logout:before { content: '\e803'; }
.icon-up:before { content: '\e804'; }
.icon-cloud:before { content: '\e805'; } /* '云' */
.icon-cloud-flash-alt:before { content: '\e806'; } /* '雷电 ' */
.icon-drizzle:before { content: '\e807'; } /* ' 小雨' */
.icon-rain:before { content: '\e808'; } /* '大雨' */
.icon-windy:before { content: '\e809'; } /* ' 风 */
.icon-snow-heavy:before { content: '\e80a'; } /* ' 大雪' */
.icon-snow-alt:before { content: '\e80b'; } /* '' */
.icon-snow:before { content: '\e80c'; } /* ' 小雪' */
.icon-cloud-sun:before { content: '\e80d'; } /* ' 晴' */
.icon-cloud-moon:before { content: '\e80e'; } /* ' 月亮云' */
.icon-sun:before { content: '\e80f'; } /* ' 太阳' */
.icon-low-vision:before { content: '\f2a8'; } /* '' */
.icon-search:before { content: '\f50d'; } /* '' */
.icon-fire:before { content: '\e810'; } /* '' */
.icon-trash:before { content: '\e811'; } /* '' */
.icon-cog:before { content: '\e812'; } /* '' */
.icon-pencil:before { content: '\e813'; } /* '' */
.icon-pencil-1:before { content: '\e814'; } /* '' */
.clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}
.left {
  float: left;
}
.right {
  float: right;
}
.app {
  padding: 50px 0;
  min-height: 100%;
  position: relative;
}
.app-selector {
  position: relative;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  .selector_text {
    height: 100%;
    position: relative;
    .icon-down {
      width: 20px;
      height: 20px;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -10px;
      font-size: 16px;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .selector_menu {
    padding: 15px 0;
    position: absolute;
    z-index: -100;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    margin-top: -10px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s cubic-bezier(0.21, 0.8, 0.29, 1.03);
  }
  .selector_option {
    display: block;
    color: #22624b;
    padding: 5px 20px;
    white-space: nowrap;
    &:hover {
      background-color: #eee;
    }
  }
  &:hover {
    .selector_menu {
      margin-top: 0;
      z-index: 100;
      opacity: 1;
      visibility: visible;
    }
  }
}
.menu-btn-wrapper {
  display: none;
}
#menu-btn {
  position: absolute;
  opacity: 0;
  z-index: -100;
}
.app-nav {
  width: 100%;
  height: 50px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: #fff;
  border-bottom: 1px solid #e8edf3;
  .nav-content {
    max-width: 1600px;
    margin: auto;
    padding: 0 185px 0 20px;
    position: relative;
  }
  .logo {
    display: inline-block;
    color: @color1;
    height: 45px;
    font-size: 30px;
    font-weight: bold;
    margin: 2px 50px 0 0;
    img {
      height: 100%;
    }
  }
  .logo,
  .nav_menu {
    vertical-align: top;
  }
  .nav_menu {
    display: inline-block;
    li {
      float: left;
      margin-right: 40px;
    }
    .nav_menu_item {
      width: 60px;
      height: 49px;
      line-height: 47px;
      padding: 0 5px;
      display: block;
      text-align: center;
      font-size: 16px;
      color: #22624b;
      border-bottom: 4px solid transparent;
      position: relative;
      bottom: -1px;
    }
    .active {
      font-weight: bold;
      color: @color1;
      border-bottom-color: @color1;
    }
  }
  .nav-_form-wrapper {
    width: 200px;
    display: inline-block;
    overflow: hidden;
    margin-top: 10px;
    position: relative;
    .nav_form_input,
    .nav_form_submit {
      height: 30px;
      float: left;
      border: none;
      outline: none;
    }
    .nav_form_input {
      width: 100%;
      padding: 3px 30px 3px 10px;
      border-radius: 3px;
      border: 1px solid #e4e2e4;
    }
    .nav_form_submit {
      width: 30px;
      color: #c1c1c1;
      background-color: transparent;
      font-size: 21px;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .login-wrapper {
    height: 49px;
    position: absolute;
    right: 20px;
    top: 0;
  }
  .post {
    display: inline-block;
    height: 30px;
    width: 80px;
    text-align: center;
    color: #999;
    vertical-align: middle;
    font-size: 16px;
    &:before {
      line-height: 30px;
    }
  }
  .signin,
  .signup {
    width: 80px;
    height: 35px;
    line-height: 33px;
    display: inline-block;
    border: 1px solid @color1;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    margin-top: 7px;
  }
  .signin {
    color: #999;
    border-color: transparent;
  }
  .signup {
    color: @color1;
  }
  .user_avatar {
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin: 8px 3px 0 0;
    display: inline-block;
    border-radius: 50%;
    line-height: 33px;
    text-align: center;
    color: #fff;
    vertical-align: middle;
    font-size: 22px;
    background-color: @color1;
    overflow: hidden;
    .icon::before {
      line-height: 35px;
    }
    img {
      width: 100%;
    }
  }
  .selector_menu {
    right: 0;
    .icon {
      color: @color1;
      margin-right: 15px;
      font-size: 16px;
    }
  }
}
.article_avatar {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: @color1;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
  vertical-align: middle;
  img {
    width: 100%;
  }
  .icon::before {
    font-size: 25px;
    line-height: 30px;
  }
}
.app-main {
  width: 1024px;
  padding-bottom: 100px;
  margin: 0 auto;
  .article_tags {
    font-size: 0;
  }
  .article_tag {
    margin: 10px 5px 0 0;
    line-height: 1.5;
    display: inline-block;
    font-size: 12px;
    padding: 1px 5px 1px 14px;
    border-radius: 2px;
    background-color: @color3;
    color: #fff;
    position: relative;
    &:before {
      content: '';
      width: 4px;
      height: 4px;
      position: absolute;
      background-color: #fff;
      border-radius: 50%;
      top: 8px;
      left: 6px;
    }
  }
}
.app-banner {
  height: 350px;
  overflow: hidden;
  .hlw-swiper {
    width: 1024px - 232px;
    float: left;
    .swiper-slide {
      width: 100%;
      height: 100%;
      position: relative;
      img {
        width: 100%;
      }
    }
    .banner_title {
      font-size: 18px;
      margin-bottom: 15px;
    }
    .banner-info {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      color: #fff;
      padding: 100px 20px 20px;
      background-image: linear-gradient(to top, rgba(0,0,0,0.9), rgba(0,0,0,0.0));
    }
    .swiper-pagination-bullet {
      background-color: #fff;
    }
    .swiper-pagination-bullet-active {
      background-color: @color1;
    }
  }
  .movie-swiper {
    width: 232px;
    float: right;
    .swiper-slide {
      display: block;
      overflow: hidden;
      background-color: #000;
      position: relative;
      color: #fff;
      transition-timing-function: ease-in-out;
    }
    img {
      max-width: 100%;
    }
    .swiper-button-next,
    .swiper-button-prev {
      background-size: auto 22px;
      opacity: 0;
      transition: all 0.3s ease;
    }
    .swiper-button-next {
      right: 0;
    }
    .swiper-button-prev {
      left: 0;
    }
    &:hover {
      .swiper-button-next,
      .swiper-button-prev {
        opacity: 1;
      }
    }
    .movie-info {
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 20px 10px 5px 10px;
      background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    }
    .p2 {
      margin-top: 10px;
      font-size: 12px;
    }
    .movie_score {
      font-weight: bold;
    }
  }
}
.app-main_content {
  width: 750px;
  float: left;
}
.app-article-page {
  .app-main {
    width: 700px;
  }
}
.app-articles {
  .article-item {
    padding: 40px 0;
    border-bottom: 1px solid #e8edf3;
    position: relative;
    .article_other-info {
      color: #999;
    }
    .delete-btn {
      position: absolute;
      right: 10px;
      top: 10px;
      color: #999;
    }
    .article_author {
      margin: 0 10px 0 5px;
    }
    .article_date {
      margin-right: 5px;

    }
    .article_hot {
      margin-left: 10px;
      &:before {
        font-size: 16px;
        margin-right: 3px;
      }
    }
  }
  .article-item-inner {
    min-height: 120px;
    a {
      color: @color2;
    }
    br {
      display: none;
    }
    &.with-img {
      padding-right: 200px;
      position: relative;
    }
    h3 {
      margin: 25px 0 30px;
    }
    .article_title {
      &:visited {
        color: #bfbfbf;
      }
    }
    .article_text {
      max-height: 167px;
      overflow: hidden;
    }
    .article_img {
      max-width: 180px;
      max-height: 120px;
      position: absolute;
      overflow: hidden;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 5px;
      img {
        width: auto !important;
        height: auto !important;
        max-height: 100%;
        max-width: 100%;
      }
    }
  }
}
.page-content {
  padding: 100px 0 0;
  .article_avatar {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-right: 5px;
    .icon::before {
      line-height: 40px;
    }
  }
  .article-content {
    line-height: 1.9;
  }
  h1 {
    margin-bottom: 50px;
  }
  .article_title {
    font-size: 34px;
    color: @color2;
    word-break: break-all;
  }
  .article_other-info {
    margin-bottom: 30px;
  }
  .article_author {
    display: inline-block;
    padding-right: 5px;
    margin-right: 14px;
    color: #999;
    border: 1px solid @color1;
    border-radius: 2px;
  }
  .author-tag {
    display: inline-block;
    background-color: @color1;
    color: #fff;
    margin-right: 5px;
    padding: 0 3px;
  }
  .article_date {
    color: #999;
  }
  .simditor {
    border: none;
  }
  .article_content {
    font-size: 16px;
    line-height: 1.9;
    a {
      color: #22624b;
    }
    img {
      width: auto !important;
      height: auto !important;
      max-width: 100%;
    }
  }
  blockquote {
    padding: 30px;
    background-color: #f9f9f9;
    position: relative;
    margin: 30px 0;
    border-left: 4px solid #cdcdcd;
  }
  p,
  .image-package {
    margin-bottom: 20px;
  }
  .disclaimer {
    margin-top: 13px;
    color: #d8d8d8;
    font-size: 12px;
    float: right;
  }
  .comments {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px dashed #e8edf3;
    .comment_header {
      color: #999;
    }
  }
  .commenter {
    margin-bottom: 60px;
    .commenter_field {
      width: 100%;
      height: 100px;
      border: 1px solid #e8edf3;
      position: relative;
    }
    textarea {
      height: 100%;
      width: 100%;
      padding: 10px;
      border: none;
      &:focus {
        outline: 3px solid @color1;
      }
    }
    .commenter_login {
      width: 80px;
      line-height: 35px;
      text-align: center;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -17px;
      margin-left: -40px;
      background-color: @color1;
      border-radius: 3px;
      &:hover {
        background-color: darken(@color1, 10%);
      }
    }
    .commenter_button {
      width: 80px;
      height: 35px;
      margin-top: 10px;
      background-color: @color1;
      color: #fff;
      border: 1px solid rgba(0,0,0,0.01);
      float: right;
      cursor: pointer;
      outline: none;
      &:hover {
        background-color: darken(@color1, 10%);
      }
    }
  }
  .comment {
    border-top: 1px solid #e8edf3;
    padding: 30px 0 30px 50px;
    position: relative;
    .commenter_avatar {
      width: 35px;
      height: 35px;
      position: absolute;
      left: 0;
      top: 30px;
      display: inline-block;
      border-radius: 50%;
      line-height: 33px;
      text-align: center;
      border: 1px solid @color1;
      color: @color1;
    }
    .actions {
      text-align: right;
    }
    .commnet_author {
      color: #22624b;
    }
    .comment_reply {
      color: #999;
      font-size: 12px;
    }
  }
}
.app-post {
  .app-main {
    width: auto;
  }
  .editor-panel {
    width: 840px;
    margin: auto;
    padding-top: 50px;
  }
  .post-title-wrapper {
    margin-bottom: 30px;
  }
  #title {
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 1px solid #e8edf3;
    outline: none;
    font-size: 30px;
  }
  .post-btn-wrapper {
    margin-top: 20px;
  }
  .post-tag {
    border: none;
    border-bottom: 1px solid #e8edf3;
    outline: none;
    height: 35px;
    width: 200px;
    &:focus{
      border-bottom-color: @color1
    }
  }
  .post-btn {
    float: right;
    line-height: 35px;
    padding: 0 20px;
    color: #fff;
    background-color: @color1;
    &:hover {
      background-color: darken(@color1, 10%);
    }
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg)
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(360deg)
  }
}
.app-main_side {
  width: 240px;
  float: right;
  padding-top: 40px;
  .side_section {
    margin-bottom: 20px;
    .section_title {
      background-color: @color1;
      line-height: 35px;
      color: #fff;
      padding: 0 10px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    &:nth-child(3) {
      .section_title {
        background-color: #22624b
      }
    }
    &:nth-child(4) {
      .section_title {
        background-color: @color1;
      }
    }
    #tp-weather-widget {
      height: 30px;
    }
    .cover_1fRJ83H {
      display: block;
    }
    .tpwidget_title_hook {
    }
    .tpwidget_alarm_hook {
      float: right;
    }
  }
  // .weather-wrapper {
  //   height: 32px;
  //   position: relative;
  // }
  // .weather_icon {
  //   font-size: 30px;
  //   margin-right: 5px;
  // }
  // .weather_temp {
  //   .temp_max {
  //     font-size: 18px;
  //   }
  //   span {
  //     color: #999;
  //   }
  //   .temp_min {
  //     font-size: 12px;
  //   }
  // }
  // .weather_other {
  //   text-align: right;
  //   float: right;
  //   line-height: 1.1
  // }
  // .weather_date {
  //   font-size: 12px;
  //   margin-top: 2px;
  // }
  // .weather_loading {
  //   width: 100%;
  //   height: 34px;
  //   position: absolute;
  //   top: -2px;
  //   left: -1px;
  //   background: #fff;
  //   line-height: 32px;
  //   font-size: 30px;
  //   .icon {
  //     display: inline-block;
  //     -webkit-animation: rotate 1s linear infinite forwards;
  //     animation: rotate 1s linear infinite forwards;
  //   }
  // }
  .hot-item {
    overflow: hidden;
    display: block;
    color: #22264b;
    padding: 10px 0;
    font-size: 12px;
    border-top: 1px solid #e8e8e8;
    &:first-child {
      border-top-width: 0;
    }
  }
  .hot_cover {
    float: left;
    width: 45px;
    height: 30px;
    overflow: hidden;
    background-color: #22264b;
    border-radius: 2px;
    img {
      width: auto !important;
      height: auto !important;
      max-width: 100%;
    }
  }
  .hot_detail {
    padding-left: 55px;
  }
  .hot_title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1;
    margin-bottom: 2px;
    padding-top: 1px;
    color: #555;
  }
  .hot_other-info {
    color: #999;
  }
  .hot_pv {
    float: right;
  }
}
.page-nav {
  padding: 10px 0;
  font-size: 14px;
  color: #666;
  span {
    padding: 3px;
    background: @color1;
    color: #fff;
    font-size: 12px;
    border-radius: 2px;
    &:hover {
      background-color: darken(@color1, 10%);
    }
  }
  a {
    color: #fff;
  }
}
.app-login {
  height: 100%;
  background-color: #f0f3f5;
  .app-main {
    width: auto;
    height: 100%;
    position: relative;
  }
  .form-wrapper {
    width: 330px;
    padding: 40px 0 50px;
    position: absolute;
    top: 50%;
    right: 50px;
    margin-top: -200px;
    background-color: #fff;
    box-shadow: 3px 8px 18px rgba(0,0,0,0.1);
    border-radius: 5px;
  }
  .error-tip {
    position: absolute;
    top: 0;
    right: 50px;
    padding: 2px 10px;
    background-color: @color1;
    color: #fff;
    text-align: center;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .form-tab {
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 30px;
    a {
      color: #22624b;
      display: inline-block;
    }
    .icon {
      width: 20px;
      display: inline-block;
      text-align: center;
      font-size: 14px;
      margin: 0 5px;
    }
    .selected {
      font-weight: bold;
      color: @color1;
      border-bottom: 2px solid @color1;
    }
  }
  .form-field {
    border-bottom: 1px solid #ebebeb;
    padding-left: 45px;
    position: relative;
    &.form-field_first {
      border-top: 1px solid #ebebeb;
    }
    &:last-child {
      margin-top: 30px;
      border-width: 0;
      padding-left: 0;
    }
    .icon {
      width: 45px;
      height: 45px;
      line-height: 45px;
      color: #b6b6b6;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 24px;
    }
  }
  .form_submit {
    width: 80%;
    height: 40px;
    display: block;
    margin: auto;
    border: 1px solid rgba(0,0,0,0.02);
    background-color: @color1;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    &:hover {
      background-color: darken(@color1, 10%);
    }
  }
  .form-field_text {
    width: 100%;
    height: 45px;
    padding: 10px;
    border: none;
    outline: none;
  }
  .forget-password {
    color: #c9c7c2;
    float: right;
    margin: 15px 10% 0 0;
  }
  .get-code {
    width: 100px;
    text-align: center;
    position: absolute;
    right: 5px;
    top: 5px;
    line-height: 35px;
    color: #fff;
    background-color: @color1;
    border-radius: 5px;
    &:hover {
      background-color: darken(@color1, 10%);
    }
    &.disabled {
      background-color: #c2c2c2;
    }
  }
}
.app-movies {
  background: url(/dist/img/bg.gif);
  .app-main {
    width: auto;
    padding: 0 20px;
  }
  .app-main_content {
    width: 100%;
    float: none;
  }
  .movies-list {
    font-size: 0;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .movie-item {
    width: 160px;
    display: inline-block;
    vertical-align: top;
    margin: 0 20px 20px;
    color: @color2;
  }
  .movie_cover {
    width: 100%;
    height: 220px;
    overflow: hidden;
    background-color: #000;
    position: relative;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    img {
      max-width: 100%;
    }
    &:hover {
      .movie_info {
        transform: translateY(0);
      }
    }
  }
  .movie_info {
    width: 100%;
    padding: 40px 10px 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 12px;
    color: #fff;
    text-align: left;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    word-break:break-all; 
    transform: translateY(100%);
    transition: all 0.3s ease;
  }
  .movie_score {
    b {
      color: @color1;
    }
  }
  .movie_type {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .movie_other {
    font-size: 12px;
    margin-top: 3px;
    .movie_title {
      display: inline-block;
      max-width: 120px;
      text-overflow: ellipsis;
      overflow: hidden;
      vertical-align: -5px;
      margin-right: 10px;
    }
    .movie_score {
      color: #999;
    }
    .more {
      float: right;
      color: @color1;
    }
  }
}
.app-movie-page {
  .app-main {
    width: 750px;
  }
}
.back-top {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 100px;
  margin-left: 770px;
  text-align: center;
  line-height: 48px;
  border: 1px solid #eee;
  font-size: 35px;
  cursor: pointer;
  &:hover {
    background-color: @color1;
    color: #fff;
    border-color: @color1;
  }
}
.noty_layout {
  .noty_buttons {
    text-align: center;
  }
  button {
    padding: .8em 1.3em;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.2;
    outline: 0;
    margin: 0 10px;
    background: #fff;
    border: 2px solid #fff;
    color: #22624b;
    text-shadow: none;
    border-radius: 2px;
    text-decoration: none;
    cursor: pointer;
  }
}
.highlight {
  font-weight: normal;
  color: #c00;
}
.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
}
.footer-content {
  height: 50px;
  padding: 0 20px;
  line-height: 49px;
  color: #999;
  text-align: center;
  border-top: 1px solid #e8edf3;
  .logo {
    color: #22624b;
    font-size: 18px;
  }
}
.app-search {
  .app-main {
    width: auto;
  }
  .articles-list {
    width: 750px;
    margin: auto;
  }
}
.admin {
  height: 100%;
  padding: 50px;
  background: url(/dist/img/bg.gif);
  .app-main,
  .admin_side,
  .admin_content {
    height: 100%;
  }
  .app-main {
    width: 100%;
    padding: 0;
    padding-left: 201px;
    position: relative;
  }
  .admin_content-inner {
    height: 100%;
    position: relative;
    background-color: #fff;
    overflow: auto;
  }
  .admin_side {
    width: 200px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
  }
  .side_item {
    display: block;
    color: #22624b;
    line-height: 50px;
    padding-left: 15px;
    border-bottom: 1px solid #f3f3f3;
    &.active {
      background-color: @color1;
      color: #fff;
    }
  }
  .user_avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: @color1;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    overflow: hidden;
    vertical-align: middle;
    font-size: 26px;
    img {
      width: 100%;
    }
  }
  .admin_content {
    width: 100%;
    background-color: #fff;
    position: relative;
    &::before {
      content: 'HwH';
      width: 200px;
      height: 100px;
      color: #eee;
      font-size: 80px;
      line-height: 100px;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -100px;
      margin-top: -50px;
    }
  }
  .posts {
    padding: 40px 20px;
    .article-item {
      margin-bottom: 15px;
      &:hover {
        background-color: #eee;
      }
    }
    .article_hot {
      margin-right: 5px;
      color: @color1;
    }
    .article_title {
      color: #22624b;
      margin-right: 5px;
    }
    .article_date {
      color: #eee;
    }
    .article_delete,
    .article_edit {
      color: #999;
      float: right;
    }
  }
  .editor-panel {
    #title {
      width: 100%;
      height: 50px;
      border: none;
      border-bottom: 1px solid #e8edf3;
      outline: none;
      font-size: 30px;
      margin-bottom: 20px;
    }
    img {
      max-width: 100%;
    }
    .post-btn-wrapper {
      margin-top: 20px;
    }
    .post-tag {
      border: none;
      border-bottom: 1px solid #e8edf3;
      outline: none;
      height: 35px;
      width: 200px;
    }
    .post-btn {
      float: right;
      line-height: 35px;
      padding: 0 20px;
      color: #fff;
      background-color: #0facf3;
    }
  }
  .user-set {
    padding: 20px;
  }
  .section_title {
    font-size: 16px;
    padding-bottom: 12px;
    border-bottom: 1px solid #efefef;
    margin-bottom: 30px;
  }
  .img-container {
    max-height: 300px;
    img {
      max-width: 100%;
    }
  }
  .preview-wrapper {
    width: 100px;
  }
  .avatar-submit {
    display: inline-block;
    width: 90px;
    line-height: 35px;
    text-align: center;
    background-color: @color1;
    color: #fff;
    margin-top: 20px;
    border-radius: 5px;
  }
}
@media (max-width: 940px) {
  .app-nav {
    .nav_menu {
      li {
        margin-right: 20px;
      }
    }
  }
}
@media (max-width: 866px) {
  .app-nav {
    .nav-_form-wrapper {
      display: none;
    }
  }
  .app-main {
    width: 100%;
  }
  .app-article-page {
    .app-main {
      width: 100%;
      padding: 0 20px 100px;
    }
  }
  .app-movie-page  {
    .app-main {
      width: 100%;
      padding: 0 15px 100px;
    }
  }
  .app-banner {
    height: 200px;
    padding-right: 143px;
    position: relative;
    .hlw-swiper {
      width: 100%;
      .banner-info {
        font-size: 12px;
      }
      .banner_title {
        font-size: 14px;
      }
    }
    .movie-swiper {
      width: 143px;
      height: 200px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .app-main_content {
    width: 100%;
    padding: 0 10px;
  }
  .app-main_side {
    display: none;
  }
  .app-login {
    .form-wrapper {
      right: 50%;
      margin-right: -165px;
    }
  }
}
@media (max-width: 414px) {
  .menu-btn-wrapper {
    width: 30px;
    height: 40px;
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -15px;
    span {
      height: 3px;
      width: 100%;
      display: block;
      position: absolute;
      background: #999;
      top: 50%;
      left: 0;
      margin-top: -1px;
      border-radius: 2px;
      &:nth-child(1) {
        margin-top: -9px;
      }
      &:nth-child(3) {
        margin-top: 8px;
      }
    }
  }
  .app-nav {
    .nav_menu {
      width: 100%;
      position: absolute;
      top: 50px;
      left: 0;
      background-color: #fff;
      display: none;
      li {
        display: block;
        float: none;
        margin-right: 0;
      }
      .nav_menu_item {
        width: 100%;
        text-align: left;
        padding-left: 15px;
        font-size: 14px;
      }
    }
    #menu-btn {
      &:checked {
        & ~ .nav_menu {
          display: block;
        }
        & ~ .menu-btn-wrapper {
          span {
            background-color: @color1;
          }
        }
      }
    }
    .nav-content {
      padding-left: 10px;
    }
    .login-wrapper {
      right: 10px;
    }
    .signin,
    .signup {
      width: 50px;
      height: 30px;
      line-height: 28px;
      margin-top: 10px;
      font-size: 14px;
    }
  }
  .app-banner {
    height: 150px;
    padding-right: 102px;
    .movie-swiper {
      width: 102px;
      height: 100%;
    }
    .hlw-swiper {
      .banner-info {
        padding: 20px 10px 20px;
      }
    }
    .banner_title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 5px;
    }
    .banner_des {
      height: 35px;
      overflow: hidden;
    }
  }
  .app-login {
    .form-wrapper {
      width: 90%;
      right: 5%;
      margin-right: 0;
      padding: 15px 0 20px;
    }
    .form-tab {
      font-size: 16px;
      margin-bottom: 20px;
    }
    .form-field:last-child {
      margin-top: 20px;
    }
  }
  .app-articles {
    .article-item-inner {
      &.with-img {
        padding-right: 0;
      }
      h3 {
        margin: 0;
        height: 40px;
        line-height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 15px;
      }
      .article_text {
        padding-left: 30vw;
        max-height: 71px;
        overflow: hidden;
        font-size: 12px;
      }
      .article_img {
        right: auto;
        left: 0;
        top: 43px;
        width: 28vw;
        height: 65px;
        padding: 2px;
        max-width: none;
        max-height: none;
        transform: translateY(0);
        border-radius: 3px;
        border: 1px solid #eee;
        img {
          max-height: 100px;
          max-height: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate3d(-50%, -50%, 0);
        }
      }
      .article_tags {
        text-align: right;
      }
    }
    .article-item {
      padding: 20px 0;
      .article_other-info {
        font-size: 12px;
      }
    }
  }
  .page-content {
    padding-top: 20px;
    .article_title {
      font-size: 20px;
      line-height: 1.5;
    }
    h1 {
      margin-bottom: 20px;
    }
  }
  .app-movies {
    .app-main_content {
      padding: 0;
    }
    .movie-item {
      width: 80vw;
      margin: 0 0 25px;
    }
    .movie_cover {
      height: auto;
    }
  }
  .admin {
    padding: 10px;
    .app-main {
      padding: 50px 0 0 0;
    }
    .admin_side {
      height: 50px;
      line-height: 49px;
      width: 100%;
      border-bottom: 1px solid #eee;
      font-size: 0;
    }
    .user_avatar {
      margin-right: 0;
    }
    .user_name {
      display: none;
    }
    .side_item {
      font-size: 14px;
      padding: 0 10px;
      display: inline-block;
    }
  }
  .footer {
    font-size: 12px;
  }
  .footer-content {
    padding: 0 5px;
  }
}
