* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-size: 14px;
  line-height: 1.5;
  font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
  color: #666;
}
a {
  text-decoration: none;
}
.clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}
.left {
  float: left;
}
.right {
  float: right;
}
.app {
  padding-top: 50px;
}
.app-nav {
  width: 100%;
  height: 50px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  .nav-content {
    padding: 0 20px;
  }
  .logo {
    color: #666;
    line-height: 49px;
  }
}
.app-main {
  width: 1024px;
  margin: 0 auto;
}
.app-main_content {
  width: 760px;
  float: left;
}
.app-news {
  .new_avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: #0099CC;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
  }
  .new-item {
    padding: 20px 0;
    border-bottom: 1px solid #cfcfcf;
    .new_author {
      margin: 0 10px 0 5px;
    }
    .new_date {
      color: #999;
    }
  }
  .new-item-inner {
    a {
      color: #666;
    }
    &.with-img {
      padding-right: 200px;
      position: relative;
    }
    h3 {
      margin: 5px 0 8px;
    }
    .new_title {
      color: #666;
    }
    .new_img {
      max-width: 180px;
      max-height: 120px;
      position: absolute;
      overflow: hidden;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 5px;
      img {
        width: auto !important;
        height: auto !important;
        max-height: 100%;
        max-width: 100%;
      }
    }
    .new_tag {
      margin-top: 10px;
      display: inline-block;
      font-size: 12px;
      padding: 1px 5px;
      border-radius: 2px;
      background-color: #0099CC;
      color: #fff;
    }
  }
}
.app-main_side {
  width: 244px;
  float: right;
}
.page-nav {
  padding: 10px 0;
  font-size: 14px;
  color: #666;
  span {
    padding: 3px;
    background: #cdcdcd;
    color: #fff;
    font-size: 12px;
    border-radius: 2px;
  }
  a {
    color: #fff;
  }
}

