  <div class="footer">
    <div class="footer-content clearfix">
      <span class="left">人生苦短，及时行乐</span>
      <span class="logo">HwH</span>
      <span class="right">粤ICP备16086920号-1</span>
    </div>
  </div>
  <%- include('./script')%>
  <script src="/dist/js/app.js"></script>
