  <div class="footer">
    <div class="footer-content clearfix">
      <span class="left">没有态度的小站</span>
      <span class="logo">HwH</span>
      <span class="right">人生苦短，及时行乐</span>
    </div>
  </div>
  <%- include('./script')%>
  <script src="/dist/js/app.js"></script>
