<div class="movie-item">
  <div class="movie_cover">
    <img src="<%= movie.cover %>" alt="movie.title">
  </div>
  <div class="movie_title">
    <a href="/movies/<%= movie._id %>">评分：<%= movie.score %> <%= movie.title %></a>
  </div>
</div>