<div class="movie-item">
  <a class="movie_cover">
    <img src="<%= movie.cover %>" alt="movie.title">
    <div class="movie_title">
      <%- movie.name %>
    </div>
  </a>
  <div class="movie_info">
    <div class="movie_other">
      <div class="movie_score">评分：<b><%= movie.score %></b></div>
      <div class="movie_type">类型：<b><%- movie.movieType %></b></div>
    </div>
  </div>
</div>