<div class="app-nav">
  <div class="nav-content">
    <a class="logo" href="/news">HwH</a>
    <ul class="nav_menu">
      <li><a class="nav_menu_item" href="/news">IT资讯</a></li>
      <li><a class="nav_menu_item" href="/articles">文集</a></li>
      <li><a class="nav_menu_item" href="/news">电影</a></li>
    </ul>
    <div class="login-wrapper">
      <% if (!user) { %>
      <a href="/signin" class="signin">登录</a>
      <a href="/signup" class="signup">注册</a>
      <% } else {%>
      <div class="app-selector">
        <div class="selector_text">
          <a href="/" class="user_avatar"><%= user.name.substr(0, 1) %></a>
          <span class="icon icon-down"></span>
        </div>
        <div class="selector_menu">
          <a href="/signout" class="selector_option"><span class="icon icon-logout"></span>退出</a>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>