<div class="app-nav">
  <div class="nav-content">
    <a class="logo" href="/news">HwH</a>
    <ul class="nav_menu">
      <% if (articleType == 'news') { %>
      <li><a class="nav_menu_item" href="/posts">原创</a></li>
      <li><a class="nav_menu_item active" href="/news">IT资讯</a></li>
      <li><a class="nav_menu_item" href="/articles">文集</a></li>
      <li><a class="nav_menu_item" href="/movies">电影</a></li>
      <% } else if (articleType == 'articles') { %>
      <li><a class="nav_menu_item" href="/movies">原创</a></li>
      <li><a class="nav_menu_item" href="/news">IT资讯</a></li>
      <li><a class="nav_menu_item active" href="/articles">文集</a></li>
      <li><a class="nav_menu_item" href="/movies">电影</a></li>
      <% } else if (articleType == 'movies') { %>
      <li><a class="nav_menu_item" href="/posts">原创</a></li>      
      <li><a class="nav_menu_item" href="/news">IT资讯</a></li>
      <li><a class="nav_menu_item" href="/articles">文集</a></li>
      <li><a class="nav_menu_item active" href="/movies">电影</a></li>
      <% } else { %>
      <li><a class="nav_menu_item active" href="/posts">原创</a></li>
      <li><a class="nav_menu_item" href="/news">IT资讯</a></li>
      <li><a class="nav_menu_item" href="/articles">文集</a></li>
      <li><a class="nav_menu_item" href="/movies">电影</a></li>
      <% } %>
    </ul>
    <div class="nav-_form-wrapper">
      <form method="get">
        <input type="text" class="nav_form_input">
        <button style="submit" class="nav_form_submit icon icon-search"></button>
      </form>
    </div>
    <div class="login-wrapper">
      <a href="/posts/create" class="post icon icon-pencil-1"></a>
      <% if (!user) { %>
        <% if(originalUrl) {%>
      <a href="/signin?from=<%= originalUrl %>" class="signin">登录</a>
      <a href="/signup?from=<%= originalUrl %>" class="signup">注册</a>
        <%} else {%>
      <a href="/signin" class="signin">登录</a>
      <a href="/signup" class="signup">注册</a>
        <% } %>
      <% } else {%>
      <div class="app-selector">
        <div class="selector_text">
          <a href="/" class="user_avatar"><%= user.name.substr(0, 1) %></a>
          <span class="icon icon-down"></span>
        </div>
        <div class="selector_menu">
          <% if (user && user.name == '胡文华') {%>
          <a href="/admin" class="selector_option"><span class="icon icon-cog"></span>后台管理</a>
          <%}%>
          <a href="/signout" class="selector_option"><span class="icon icon-logout"></span>退出</a>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>