<div class="page-nav clearfix">
  <% if (!isFirstPage) { %>
    <span class="prepage left"><a title="上一页" href="/<%= articleType %>%>?p=<%= page - 1 %>">上一页</a></span>
  <% } %>

  <% if (!isLastPage) { %>
    <span class="nextpage right"><a title="下一页" href="/<%= articleType %>%>?p=<%= page + 1 %>">下一页</a></span>
  <% } %>
</div>