<div class="form-tab">
  <a href="javascript:;" class="form-tab_signin selected">重置密码</a>
</div>
<form  method="post">
  <div class="form-field form-field_first">
    <span class="icon icon-user"></span>
    <input class="form-field_text" placeholder="邮箱" required type="email" name="name">
  </div>
  <div class="form-field">
    <span class="icon icon-user"></span>
    <input class="form-field_text" placeholder="验证码" required name="email_code">
    <a href="javascript:;" class="get-code" id="get-code">获取验证码</a>
  </div>
  <div class="form-field">
    <span class="icon icon-lock"></span>
    <input class="form-field_text" placeholder="密码" required type="password" name="password">
  </div>
  <div class="form-field form-field_last">
    <span class="icon icon-low-vision"></span>
    <input class="form-field_text" placeholder="再次输入密码" required type="password" name="repassword">
  </div>
  <div class="form-field">
    <input type="submit" class="form_submit" value="提交">
  </div>
</form>
