<div class="app-main_side">
  <div class="side_section weather-wrapper">
    <span class="weather_icon icon"></span>
    <span class="weather_temp">
      <b class="temp_max">31</b>
      <span>/</span>
      <b class="temp_min">21</b>
    </span>
    <span class="weather_other">
      <div class="weather_city"></div>
      <div class="weather_date"></div>
    </span>
  </div>
  <div class="side_section">
    <div class="section_title">热门文章</div>
    <div class="section_content">
      
    </div>
  </div>
  <div class="side_section">
    <div class="section_title">热门文集</div>
    <div class="section_content">
      
    </div>
  </div>
  <div class="side_section">
    <div class="section_title">热门电影</div>
    <div class="section_content">
      
    </div>
  </div>
</div>