<div class="app-main_side">
  <div class="side_section weather-wrapper">
    <span class="weather_icon icon"></span>
    <span class="weather_temp">
      <b class="temp_max"> 0℃</b>
      <span>/</span>
      <b class="temp_min"> 0℃</b>
    </span>
    <span class="weather_other">
      <div class="weather_city">分盐</div>
      <div class="weather_date">1989-01-27</div>
    </span>
    <div class="weather_loading">
      <span class="icon icon-sun"></span>
    </div>
  </div>
  <div class="side_section">
    <div class="section_title">热门文章</div>
    <div class="section_content">
      
    </div>
  </div>
  <div class="side_section">
    <div class="section_title">热门文集</div>
    <div class="section_content">
      
    </div>
  </div>
  <div class="side_section">
    <div class="section_title">热门电影</div>
    <div class="section_content">
      
    </div>
  </div>
</div>