<div class="form-tab">
  <a href="/signin" class="form-tab_signin selected">登录</a>
  <span class="icon icon-infinity"></span>
  <a href="/signup" class="form-tab_signup">注册</a>
</div>
<form  method="post">
  <div class="form-field form-field_first">
    <span class="icon icon-user"></span>
    <input class="form-field_text" placeholder="用户名" type="text" name="name">
  </div>
  <div class="form-field form-field_last">
    <span class="icon icon-lock"></span>
    <input class="form-field_text" placeholder="密码" type="password" name="password">
  </div>
  <div class="form-field">
    <input type="submit" class="form_submit" value="登录">
  </div>
</form>